---
import Layout from '@/layouts/Layout.astro';
import Button from '@/components/Button.astro';
---

<Layout title="Monospace">
	<main class="w-screen h-screen flex flex-col items-center justify-center">
		<span class="text-9xl font-medium undesrline decoration-primary">
			404
		</span>
		<h1 class="text-4xl">Not found</h1>
		<Button href="/" classNames="mt-16">
			Go back home
		</Button>
	</main>
</Layout>
