---
import Layout from '../layouts/Layout.astro';
---

<Layout title="Monospace">
	<main>
	</main>
</Layout>

<style>
	main {
		margin: auto;
		padding: 1rem;
		width: 800px;
		font-size: 24px;
		max-width: calc(100% - 2rem);
	}
</style>
