---
import Layout from '@/layouts/Layout.astro';
---

<Layout title="Monospace">
	<main class="w-screen h-screen flex items-center justify-center">
		<h1 class="text-6xl text-white font-medium font-mono">monospace</h1>
	</main>
</Layout>
