---
interface Props {
	href: string;
	classNames?: string;
}

const { href, classNames } = Astro.props;
---

<a
	href={href}
	class:list={[
		'text-sm bg-primary rounded-full hover:scale-110 transition-all px-10 py-6',
		classNames,
	]}
>
	<slot />
</a>
