---
interface Props {
	title: string;
}

const { title } = Astro.props;

import '@fontsource-variable/roboto-mono';
import { ViewTransitions } from 'astro:transitions';
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content="Astro description" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
		<ViewTransitions />
	</head>
	<body>
		<slot />
	</body>
</html>
<style is:global>
	:root {
		--primary: #c8102e;
		--text: #ffffff;
		--background: #09090b;
	}

	html {
		background: var(--background);
		font-family: 'Roboto Mono Variable', monospace;
		color-scheme: light dark;
	}

	.font-mono-light {
		font-family: 'Roboto Mono Variable', monospace;
		font-weight: 300;
	}
</style>
